<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>CurrenciesServlet</servlet-name>
        <servlet-class>io.github.xcvqqz.currencyexchange.controller.CurrenciesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CurrenciesServlet</servlet-name>
        <url-pattern>/currencies</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CurrencyServlet</servlet-name>
        <servlet-class>io.github.xcvqqz.currencyexchange.controller.CurrencyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CurrencyServlet</servlet-name>
        <url-pattern>/currency/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExchangeRatesServlet</servlet-name>
        <servlet-class>io.github.xcvqqz.currencyexchange.controller.ExchangeRatesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExchangeRatesServlet</servlet-name>
        <url-pattern>/exchangeRates</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExchangeRateServlet</servlet-name>
        <servlet-class>io.github.xcvqqz.currencyexchange.controller.ExchangeRateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExchangeRateServlet</servlet-name>
        <url-pattern>/exchangeRate/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExchangeServlet</servlet-name>
        <servlet-class>io.github.xcvqqz.currencyexchange.controller.ExchangeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExchangeServlet</servlet-name>
        <url-pattern>/exchange/*</url-pattern>
    </servlet-mapping>
</web-app>